<header>
    <h1 class="title">Bienvenue {{username}}</h1>
</header>
  <section class="col-sm-10">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title"> Mes Documents </h3>
            </div>
            <div class="panel-body">
            <div class="form-group pull-right">
                <input type="text" class="search form-control" placeholder="Cherchez le fichier">
              </div>
              <span class="counter pull-right"></span>
              <table class="table table-bordered table-responsive table-hover results" id="dataTables-example" >
                <thead>
                  <tr>
                    <th>Nom</th> <th>taille</th> <th>Date</th> <th>Provénance</th> <th>Propriétaire</th><th>Directory</th><th>Lien</th>
                  </tr>
                </thead>
                <tbody *ngFor="let folder of folders">
                          <tr >

                            <td> <h3 *ngIf="folder.isDir"><a  (click)= folder.activateRow()><span class="glyphicon glyphicon-folder-open"></span></a></h3>
                                <h3 *ngIf="!folder.isDir"><span class="glyphicon glyphicon-file"></span></h3>
                                 {{ folder.name }} 

                                </td> 
                            <td> {{ folder.size }} </td>
                            <td> {{ folder.date }}</td>
                            <td> {{ folder.provide }}</td>
                            <td> {{ folder.owner }}</td>
                            <td> {{ folder.isDir}}</td>
                            <td> <a href="{{ folder.link }}" class="glyphicon glyphicon-download-alt"> </a></td>
                           
                          </tr>
                            <template [ngIf]="folder.isActive">
                           <tr  *ngFor="let son of folder.sons" >
                                <td> <h3 *ngIf="folder.isDir"><a  (click)= folder.activateRow()><span class="glyphicon glyphicon-folder-open"></span></a></h3>
                                <h3 *ngIf="!folder.isDir"><span class="glyphicon glyphicon-file"></span></h3>
                                 {{ folder.name }} 

                                </td> 
                            <td> {{ son.size }} </td>
                            <td> {{ son.date }}</td>
                            <td> {{ son.provide }}</td>
                            <td> {{ son.owner }}</td>
                            <td> {{ son.isDir}}</td>
                            <td> <a href="{{ son.link }}" class="glyphicon glyphicon-download-alt"> </a></td>
                          </tr>
                            </template>
                    
                </tbody>
              </table>
            </div>
          </div>
</section>
